{% extends "base.html" %}
{% block title %}إضافة مقرر جديد{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="card shadow">
        <div class="card-header bg-info text-white">
            <h5 class="m-0">➕ إضافة مقرر جديد</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success w-100">حفظ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
